{% extends "base.html" %}
{% load static %}
{% block content%}
<link rel="stylesheet" href="{% static 'css/estilo oscuro.css' %}">
<div id="caja1"> 
  <form action ="" method="post">
    {%csrf_token%}
    <input value="{{user.username}}" name="usuario" style="display: none;">
    <div id="caja_editar">
      <a href="editar_estilo/">
        <button type="submit" id="boton2">Guardar</button>
      </a>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4" id="cajares">
        <label>Instrumentos</label>
        <select id="ins1" name="instrumento1">
          <option value="">---</option>
          <option value="Voz">Voz</option>
          <option value="Guitarra">Guitarra</option>
          <option value="Bajo">Bajo</option>
          <option value="Batería">Batería</option>
          <option value="Piano">Piano</option>
          <option value="Teclad">Teclado</option>
          <option value="Violín">Violín</option>
          <option value="Viola">Viola</option>
          <option value="Chelo">Chelo</option>
          <option value="Contrabajo">Contrabajo</option>
          <option value="Trompeta">Trompeta</option>
          <option value="Trombón">Trombón</option>
          <option value="Flauta">Flauta</option>
          <option value="Clarinete">Clarinete</option>
        </select>
        <select id="ins2" name="instrumento2">
          <option value="">---</option>
          <option value="Voz">Voz</option>
          <option value="Guitarra">Guitarra</option>
          <option value="Bajo">Bajo</option>
          <option value="Batería">Batería</option>
          <option value="Piano">Piano</option>
          <option value="Teclad">Teclado</option>
          <option value="Violín">Violín</option>
          <option value="Viola">Viola</option>
          <option value="Chelo">Chelo</option>
          <option value="Contrabajo">Contrabajo</option>
          <option value="Trompeta">Trompeta</option>
          <option value="Trombón">Trombón</option>
          <option value="Flauta">Flauta</option>
          <option value="Clarinete">Clarinete</option>
        </select>
        <select id="ins3" name="instrumento3">
          <option value="">---</option>
          <option value="Voz">Voz</option>
          <option value="Guitarra">Guitarra</option>
          <option value="Bajo">Bajo</option>
          <option value="Batería">Batería</option>
          <option value="Piano">Piano</option>
          <option value="Teclad">Teclado</option>
          <option value="Violín">Violín</option>
          <option value="Viola">Viola</option>
          <option value="Chelo">Chelo</option>
          <option value="Contrabajo">Contrabajo</option>
          <option value="Trompeta">Trompeta</option>
          <option value="Trombón">Trombón</option>
          <option value="Flauta">Flauta</option>
          <option value="Clarinete">Clarinete</option>
        </select>
      </div>
      <div class="col-lg-4" id="cajares">
        <label>Estilos favoritos</label>
        <select id="est1" name="estilo1">
          <option value="">---</option>
          <option value="Rock">Rock</option>
          <option value="Pop">Pop</option>
          <option value="Metal">Metal</option>
          <option value="Electrónica">Electrónica</option>
          <option value="Clásica">Clásica</option>
          <option value="Hip hop">Hip hop</option>
          <option value="Trap">Trap</option>
          <option value="Reggae">Reggae</option>
          <option value="Reggaeton">Reggaeton</option>
          <option value="Cumbia">Cumbia</option>
        </select>
        <select id="est2" name="estilo2">
          <option value="">---</option>
          <option value="Rock">Rock</option>
          <option value="Pop">Pop</option>
          <option value="Metal">Metal</option>
          <option value="Electrónica">Electrónica</option>
          <option value="Clásica">Clásica</option>
          <option value="Hip hop">Hip hop</option>
          <option value="Trap">Trap</option>
          <option value="Reggae">Reggae</option>
          <option value="Reggaeton">Reggaeton</option>
          <option value="Cumbia">Cumbia</option>
        </select>
        <select id="est3" name="estilo3">
          <option value="">---</option>
          <option value="Rock">Rock</option>
          <option value="Pop">Pop</option>
          <option value="Metal">Metal</option>
          <option value="Electrónica">Electrónica</option>
          <option value="Clásica">Clásica</option>
          <option value="Hip hop">Hip hop</option>
          <option value="Trap">Trap</option>
          <option value="Reggae">Reggae</option>
          <option value="Reggaeton">Reggaeton</option>
          <option value="Cumbia">Cumbia</option>
        </select>
        <br>
      </div>
      <div class="col-lg-4" id="cajares">
        <label>Artistas favoritos</label>
        <input placeholder="---" name="artista1">
        <input placeholder="---" name="artista2">
        <input placeholder="---" name="artista3">
        <br>
      </div>
    </div>
  </form>
</div> 
   
{%endblock%}


