{% extends "base.html" %}
{% load static %}
{% block content%}
<link rel="stylesheet" href="{% static 'css/estilo oscuro.css' %}">

  <!--<div id="caja0">  
    <div id="caja1">  
      <div class="row">
        <div class="col-lg-4" id="cajares"></div>
        <div class="col-lg-4" id="cajares">
          <h3>Editar perfil</h3> 
          <form action ="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value ="Guardar" style="margin-top: 20px;">
            <br>
        </form>
        </div>
        <div class="col-lg-4" id="cajares"></div>
      </div>
    </div>  
  </div> 
  <br>--> 

    <div id="caja0">
      <div id="caja1">  <!--Caja de datos de usuario en el perfil-->
        <form action ="" method="post" enctype="multipart/form-data">
          {%csrf_token%}
          <h4 style="margin-right: 30px;">{{ user.username }}</h4> 
          <div id="caja_editar">
            <a href="editar/">
              <button type="submit" id="boton2">Guardar</button>
            </a>
          </div>
          <br> <hr>
          <div class="row">
            <div class="col-lg-4" id="cajares">
              <div id="caja_perfil">
                <img src="{% static 'Imagenes/usuario2.png' %}" width="100%" height="width" style="border-radius: 5px;">
                <input type="file" accept="image/png, image/jpeg" style="color: white" name="imagen">
                <!--{{form.imagen}}-->
              </div>
            </div>
            <div class="col-lg-4" id="cajares"> 
              <input value="{{user.username}}" name="usuario" style="display: none;">
              <label>Nombre y apellido</label>
              {{form.nombre}}
              <label>Sexo</label>
              <select id="sexo" name="sexo">
                <option value="">---</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
              </select>
              <label>Edad</label>
              {{form.edad}}
              <label>Región</label>
              <select id="region" name="region">
                <option value="">---</option>
                <option value="I Región">I Región</option>
                <option value="II Región">II Región</option>
                <option value="III Región">III Región</option>
                <option value="IV Región">IV Región</option>
                <option value="V Regió">V Región</option>
                <option value="VI Región">VI Región</option>
                <option value="VII Región">VII Región</option>
                <option value="VIII Región">VIII Región</option>
                <option value="IX Región">IX Región</option>
                <option value="X Región">X Región</option>
                <option value="XI Región">XI Región</option>
                <option value="XII Región">XII Región</option>
                <option value="Región Metropolitana">Región Metropolitana</option>
                <option value="XIV Región">XIV Región</option>
                <option value="XV Región">XV Región</option>
                <option value="XVI Región">XVI Región</option>
              </select>
            </div>
            <div class="col-lg-4" id="cajares">
              <label>Comuna</label>
              <select id="com" name="comuna">
                <option value="">---</option>
                <option value="Santiago">Santiago</option>
                <option value="Conchalí">Conchalí</option>
                <option value="Huechuraba">Huechuraba</option>
                <option value="Independencia">Independencia</option>
                <option value="Quilicura">Quilicura</option>
                <option value="Recoleta">Recoleta</option>
                <option value="Renca">Renca</option>
                <option value="Las Condes">Las Condes</option>
                <option value="Lo Barnechea">Lo Barnechea</option>
                <option value="Providencia">Providencia</option>
                <option value="Vitacura">Vitacura</option>
                <option value="La Reina">La Reina</option>
                <option value="Macul">Macul</option>
                <option value="Ñuñoa">Ñuñoa</option>
                <option value="Peñalolén">Peñalolén</option>
                <option value="La Florida">La Florida</option>
                <option value="La Granja">La Granja</option>
                <option value="El Bosque">El Bosque</option>
                <option value="La Cisterna">La Cisterna</option>
                <option value="La Pintana">La Pintana</option>
                <option value="San Ramón">San Ramón</option>
                <option value="Lo Espejo">Lo Espejo</option>
                <option value="Pedro Aguirre Cerda">Pedro Aguirre Cerda</option>
                <option value="San Joaquín">San Joaquín</option>
                <option value="San Miguel">San Miguel</option>
                <option value="Cerrillos">Cerrillos</option>
                <option value="Estación Central">Estación Central</option>
                <option value="Maipú">Maipú</option>
                <option value="Cerro Navia">Cerro Navia</option>
                <option value="Lo Prado">Lo Prado</option>
                <option value="Pudahuel">Pudahuel</option>
                <option value="Quinta Normal">Quinta Normal</option>
              </select> 
              
              <label>Disponibilidad</label>
              <select id="disp" name="disponibilidad">
                <option value="">---</option>
                <option value="Lunes">Lunes</option>
                <option value="Martes">Martes</option>
                <option value="Miércoles">Miércoles</option>
                <option value="Jueves">Jueves</option>
                <option value="Viernes">Viernes</option>
                <option value="Sábado">Sábado</option>
                <option value="Domingo">Domingo</option>
                <option value="Fin de semana">Fin de semana</option>
              </select>
              <label>Carrera</label>
              <select id="carrera" name="carrera">
                <option value="---">---</option>
                <option value="Ninguna">Ninguna</option>
                <option value="Teoría musical">Teoría musical</option>
                <option value="Producción musical">Producción musical</option>
                <option value="Técnico en sonido">Técnico en sonido</option>
                <option value="Ingeniería en sonido">Ingeniería en sonido</option>
                <option value="Comunicación audiovisual">Comunicación audiovisual</option>
                <option value="Otra">Otra</option>
               </select>
               <label>Nombre de Banda</label>
               {{form.banda}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-4" id="cajares">
              <label>Instrumentos</label>
              <select id="ins1" name="instrumento1">
                <option value="---">---</option>
                <option value="Voz">Voz</option>
                <option value="Guitarra">Guitarra</option>
                <option value="Bajo">Bajo</option>
                <option value="Batería">Batería</option>
                <option value="Sintetizador">Sintetizador</option>
                <option value="Piano">Piano</option>
                <option value="Violín">Violín</option>
                <option value="Viola">Viola</option>
                <option value="Chelo">Chelo</option>
                <option value="Contrabajo">Contrabajo</option>
                <option value="Trompeta">Trompeta</option>
                <option value="Trombon">Trombon</option>
                <option value="Flauta">Flauta</option>
                <option value="Clarinete">Clarinete</option>
                <option value="Oboe">Oboe</option>
                <option value="Arpa">Arpa</option>
                <option value="Armonica">Armonica</option>
                <option value="Acordeon">Acordeon</option>
              </select>
              <select id="ins2" name="instrumento2">
                <option value="---">---</option>
                <option value="Voz">Voz</option>
                <option value="Guitarra">Guitarra</option>
                <option value="Bajo">Bajo</option>
                <option value="Batería">Batería</option>
                <option value="Sintetizador">Sintetizador</option>
                <option value="Piano">Piano</option>
                <option value="Violín">Violín</option>
                <option value="Viola">Viola</option>
                <option value="Chelo">Chelo</option>
                <option value="Contrabajo">Contrabajo</option>
                <option value="Trompeta">Trompeta</option>
                <option value="Trombon">Trombon</option>
                <option value="Flauta">Flauta</option>
                <option value="Clarinete">Clarinete</option>
                <option value="Oboe">Oboe</option>
                <option value="Arpa">Arpa</option>
                <option value="Armonica">Armonica</option>
                <option value="Acordeon">Acordeon</option>
              </select>
              <select id="ins3" name="instrumento3">
                <option value="---">---</option>
                <option value="Voz">Voz</option>
                <option value="Guitarra">Guitarra</option>
                <option value="Bajo">Bajo</option>
                <option value="Batería">Batería</option>
                <option value="Sintetizador">Sintetizador</option>
                <option value="Piano">Piano</option>
                <option value="Violín">Violín</option>
                <option value="Viola">Viola</option>
                <option value="Chelo">Chelo</option>
                <option value="Contrabajo">Contrabajo</option>
                <option value="Trompeta">Trompeta</option>
                <option value="Trombon">Trombon</option>
                <option value="Flauta">Flauta</option>
                <option value="Clarinete">Clarinete</option>
                <option value="Oboe">Oboe</option>
                <option value="Arpa">Arpa</option>
                <option value="Armonica">Armonica</option>
                <option value="Acordeon">Acordeon</option>
              </select>
            </div>
            <div class="col-lg-4" id="cajares">
              <label>Estilos favoritos</label>
              <select id="est1" name="estilo1">
                <option value="">---</option>
                <option value="Rock">Rock</option>
                <option value="Pop">Pop</option>
                <option value="Metal">Metal</option>
                <option value="Electrónica">Electrónica</option>
                <option value="Clásica">Clásica</option>
                <option value="Hip hop">Hip hop</option>
                <option value="Trap">Trap</option>
                <option value="Reggae">Reggae</option>
                <option value="Reggaeton">Reggaeton</option>
                <option value="Cumbia">Cumbia</option>
              </select>
              <select id="est2" name="estilo2">
                <option value="">---</option>
                <option value="Rock">Rock</option>
                <option value="Pop">Pop</option>
                <option value="Metal">Metal</option>
                <option value="Electrónica">Electrónica</option>
                <option value="Clásica">Clásica</option>
                <option value="Hip hop">Hip hop</option>
                <option value="Trap">Trap</option>
                <option value="Reggae">Reggae</option>
                <option value="Reggaeton">Reggaeton</option>
                <option value="Cumbia">Cumbia</option>
              </select>
              <select id="est3" name="estilo3">
                <option value="">---</option>
                <option value="Rock">Rock</option>
                <option value="Pop">Pop</option>
                <option value="Metal">Metal</option>
                <option value="Electrónica">Electrónica</option>
                <option value="Clásica">Clásica</option>
                <option value="Hip hop">Hip hop</option>
                <option value="Trap">Trap</option>
                <option value="Reggae">Reggae</option>
                <option value="Reggaeton">Reggaeton</option>
                <option value="Cumbia">Cumbia</option>
              </select>
              <br>
            </div>
            <div class="col-lg-4" id="cajares">
              <label>Artistas favoritos</label>
              <input placeholder="---" name="artista1">
              <input placeholder="---" name="artista2">
              <input placeholder="---" name="artista3">
              <br>
            </div>
          </div>
        </form>
        <!--
        .form-control {
          display: block;
          width: 100%;
          padding: 0.375rem 0.75rem;
          font-size: 0.82rem;
          font-weight: 400;
          line-height: 1.5;
          color: #444;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 0.25rem;
          box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
      }-->
  
  
      </div>    
      <br>
    </div> 

{%endblock%}


