{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/estilo oscuro.css' %}">
<div id="caja0">  
    <div id="caja1" width="60%">  
      <div class="row">
        <div class="col-lg-4" id="cajares"></div>
        <div class="col-lg-4" id="cajares">
          <h3>Manual</h3> 
          <hr>
          <p style="color: white;">Página de Inicio: </p>
          <p style="color: white;">Página de Músicos: </p>
          <p style="color: white;">Página de Lugares: </p>
          <p style="color: white;">Página de Iniciar sesión: </p>
          <p style="color: white;">Página de Registrarse: </p>
          <p style="color: white;">Página de Perfil: </p>
          <p style="color: white;">Página de Mensajes: </p>
          <p style="color: white;">Página de Ajustes: </p>
        </div>
      
        <div class="col-lg-4" id="cajares"></div>
      
      </div>
    </div>  
  </div>    
{% endblock %}