{% extends "base.html" %}
{% load static %}  
{% block content %}

<link rel="stylesheet" href="{% static 'css/estilo oscuro.css' %}">
<div id="caja0">
  
    <div id="caja1">
      <div class="row">
        <div class="col-lg-4" id="cajares">
          <h1>Tareas</h1>
        </div>
        <div class="col-lg-4" id="cajares">
          <h1>Maquetas</h1>
        </div>
        <div class="col-lg-4" id="cajares">
          <h1>Objetivos</h1>
        </div>
      </div>
    </div>  
    <br> 
    <div id="caja1">
      <div class="row">
        <div class="col-lg-4" id="cajares">
          <h1>Ensayos</h1>
        </div>
        <div class="col-lg-4" id="cajares">
          <h1>Eventos</h1>
        </div>
        <div class="col-lg-4" id="cajares">
          <h1>Gastos y ganancias</h1>
        </div>
      </div>
    </div>  
    <br>
  </div>      
{% endblock %}