{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/estilo oscuro.css' %}">

<div id="caja0">
    <div id="caja_buscar">
      <h3>Buscador</h3>
      <hr>
      <label>Nombre</label>
      <input type="text">
      <br>
      <label>Tipo</label>
      <select id="tipo" name="">
        <option value="">---</option>
        <option value="1">Baterias</option>
        <option value="2">Bajos</option>
        <option value="2">Guitarras</option>
      </select>
      <label>Sub Tipo</label>
      <select id="tipo" name="">
        <option value="">---</option>
        <option value="1">Electricas</option>
        <option value="2">Acusticas</option>
        <option value="2">Clasicas</option>
      </select>
      <br>
      <label>Marca</label>
      <select id="tipo" name="">
        <option value="">---</option>
        <option value="1">Gibson</option>
        <option value="2">Fender</option>
        <option value="2">Ibanez</option>
      </select>
      <br>
      <label>Precio</label>
      <select id="region" name="region">
        
      </select>
      <label>En venta</label>
      <select id="tipo" name="">
        <option value="">---</option>
        <option value="1">Si</option>
        <option value="2">No</option>
      </select>
      
     
      <br><br>
      <button id="boton2" onclick="buscador()">Buscar</button>
      <br><br>
    </div>
  
    <div id="caja_buscar2">
      
      <table>
        <tr>
          <th><h1>Usuario</h1></th>
          <th><h1>Edad</h1></th>
          <th><h1>Región</h1></th>
          <th><h1>Comuna</h1></th>
        </tr>
        {% for x in musicos %}
        <tr>
          <td> {{x.usuario}}
            <!--
            <a href="{% url 'perfil' %}" target="_self">
              <button style="color: white; background-color: #101010; width: 100%; height: 100%;">Gabriel_8218</button>
            </a>-->
          </td>
          <td>{{x.edad}}</td>
          <td>{{x.region}}</td>
          <td>{{x.comuna}}</td>
        </tr>
        {% endfor %}
      </table>
      
    </div>
  </div>
  <label></label>
{% endblock %}